<div class="index-module" data-aos="fade-right">

<h4><u>Education</u></h4>

These are some places I have been working at:

    <!-- timeline -->

    {% for education in site.data.educations %}

    <div class="row">

        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill my-bg">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>

        <div class="col py-2">
            <div class="card shadow">
                <div class="card-body">
                    <div class="edu-date">{{ education.begin }} - {{ education.end }}</div>
                    <h4 class="card-title font-weight-bold">{{ education.study }}</h4>
                    <p class="card-text">{{ education.centre }}</</p>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details" data-toggle="collapse">Details ▼</button>
                    <div class="collapse border" id="t2_details">
                        <div class="p-2 text-monospace">
                            {% for comment in education.comments %}
                            <div><b>{{ comment.name }}:</b> {{ comment.text }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>