<p>Descubre algunos de mis proyectos:</p>


  <div class="card-columns row">

    {% for project in site.categories.projects %}

    <div class="col-12 col-md-6 col-xl-4 card-column">

      <div class="card" data-aos="fade-up">
        <a href="{{ project.url }}">
        <img class="card-img-top" src="{{ project.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">
            {{ project.description }}
          </p>
          <p class="card-text"><small class="text-muted"><i class="far fa-clock"></i>{{ project.read_time }} mins. read<i class="fas fa-calendar-alt"></i>{{ project.date | date: "%-d %b %y" }}</small></p>
        </div>
        </a>
      </div>

    </div>

      {% endfor %}

    </div>







  

