<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site.tab_text }}</title>
	{% include head.html %}
</head>
    
<body>
    
    <div class="container-fluid position-relative" id="content">
        
        <div class="row h-100 mt-5">
            
            <aside class="sidebar col-sm-4 col-md-3" id="left">
                <div class="author-container shadow">
                    <div class="author">
                        <img src="/assets/img/profile_picture.jpg" width="100%" height="auto;" alt="Blackcurrant" onclick="location.href='/'">
                    </div>
                    <div class="about text-center">
                        <h2 class="title">
                            <a href="/">{{ site.title }}</a>
                        </h2>
                    </div>
                    <div class="bio text-center">
                        <p class="m0">{{ site.description }}</p>
                    </div>
                    <hr class="dashed">
                    <div class="social text-center">
                        <ul class="portfolio p0">
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                        <ul class="sm p0 m0a">
                            <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a></li> 
                            <li><a href="https://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            
            <main class="main col-sm-8 col-md-9 animated fadeInRightBig">
                <div class="main-container position-relative shadow">
                    
                    <div class="page">
                    	<h2>{{ page.title }}</h2>

                    	<hr class="dashed">
                     
                        <div class="content">
                            {{ content }}
                        </div>
                    
                        <hr class="dashed">

                        <footer>
                            <div class="text-right"> 
                                <p class="copy"> 2019 &nbsp&nbsp<i class="fa fa-at"></i><a class="rev" href="https://github.com/JuanIsernGhosn">JuanIsernGhosn</a></p>
                            </div>
                        </footer>
                    
                    </div>
                    
                    
                </div>
                
                
            </main>
        </div>
    </div>

{% include footer_loads.html %}

</body>
</html>